<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<meta>ranger suprio </meta>
			
                       
                        {% seo %}
  
		</head>
		<body>
			<img src="/City-skyscrapers-design-material-vector-051.jpg" align="center"
			    width="845" height="240"/>
			
	    		<ul align="left" style="list-style:none">
	        		<li><a href="/" style="font-size:34px">Home</a></li>
		        	<li><a href="/Thoughts style="font-size:34px">Thoughts</a></li>
	        		<li><a href="/Projects" style="font-size:34px">Projects</a></li>
	        		<li><a href="/blog" style="font-size:34px">Blog</a></li>
	    		</ul>
			
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			
		</body>
	</html>
