<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			{% include head.html %}
			
                       
                        {% seo %}
  
		</head>
		<body>
			<img src="https://cdn.pixabay.com/photo/2016/12/01/03/07/material-1874355_960_720.png" align="center"
			    width="320" height="240"/>
			
	    		<ul align="left" style="list-style:none">
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/Thoughts">Thoughts</a></li>
	        		<li><a href="/Projects">Projects</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			
		</body>
	</html>
